<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
        <appSettings>
            <!--<add key="Database.Vendor" value="Oracle" />-->
            <add key="Database.Vendor" value="Postgres" />
            <add key="Excel.Filename" value="SampleData.xlsx" />
            <add key="Excel.Path" value="C:\github\Tools\Tools\ExcelToSql\Data" />
            <add key="Excel.Tabular" value="SalesOrders" />
            <add key="Out.Create.Filename" value="CreateSalesOrders.sql" />
            <add key="Out.Insert.Filename" value="InsertSalesOrders.sql" />
            <add key="Out.Path" value="C:\github\Tools\Tools\ExcelToSql\Data" />
            <add key="Out.Tablename" value="salesorders" />
        </appSettings>
</configuration>
